/mining/client/private.js
/mining/client/node_modules
**/node_modules
/mining/.priv.pem
/mining/.priv.pem.bak
/federation/setup/.transactcleos.trx
/contracts/federation/planet_claim/config.js
/scripts/rng/config.js
accountList.csv
wax.sh
landholders.csv
scripts/landownerAmountsDue.json
scripts/landowners.json
# Build artifacts (ignored by default)
/artifacts/*

# Allow committing specific compiled contracts artifacts
!/artifacts/compiled_contracts/
/artifacts/compiled_contracts/*
!/artifacts/compiled_contracts/contracts/
/artifacts/compiled_contracts/contracts/*
!/artifacts/compiled_contracts/contracts/atomicassets-contracts/
/artifacts/compiled_contracts/contracts/atomicassets-contracts/*
!/artifacts/compiled_contracts/contracts/atomicassets-contracts/src/
/artifacts/compiled_contracts/contracts/atomicassets-contracts/src/*
!/artifacts/compiled_contracts/contracts/atomicassets-contracts/src/atomicassets.abi
!/artifacts/compiled_contracts/contracts/atomicassets-contracts/src/atomicassets.wasm
/contracts/alwgladiator/alwgladiator.ts
/contracts/tlm.token/tlm.token.ts
/contracts/federation/federation.ts
/contracts/landholders/landholders.ts
/contracts/mining/mining.ts
/contracts/orngwax/orngwax.ts
/contracts/packopener/packopener.ts
/contracts/shining/shining.ts
.DS_Store
contracts/landholders/scripts/dist
.env
/contracts/landboost/landboost.ts
/contracts/userpoints/userpoints.ts
/contracts/stakevote/stakevote.ts
/contracts/dacdirectory/dacdirectory.ts
/contracts/eosdactokens/eosdactokens.ts
/contracts/notify/notify.ts
/yarn.lock
/contracts/pointsproxy/pointsproxy.ts
/contracts/nftmintctl/nftmintctl.ts
/contracts/testmarket/testmarket.ts
/contracts/planets/planets.ts
/contracts/staking/staking.ts
/contracts/tlm.token/tlm.token.ts
.yarn
contracts/schedulepay/schedulepay.ts
contracts/competitions/competitions.ts
contracts/tokelore/tokelore.ts
contracts/autoteleport/autoteleport.ts
/contracts/mock.teleport/mock.teleport.ts
lib
contracts/infl/infl.ts
/contracts/alienworlds-contracts-private
